@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

    var rowColorClass = "";
    var rowTypeClass = "container"; // container-fluid

    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var rcParams = rc.Rendering.Parameters;
        rowTypeClass = rcParams["Type Class"].ToString();
    }
    
    
}

<h2>Row 1</h2>

<div class="@rowTypeClass ">
    <div class="row @rowColorClass">
        @Html.Sitecore().Placeholder("RowOne")
    </div>
</div>