@using Sitecore.Mvc;
@using CSDemo.Models.Cart;

@{

}

<div class="col-sm-12">
    <article class="account-content checkout-steps">
        <h2>Thank you your order is being processed</h2>
    </article>
</div>