@using Sitecore.Mvc;
@using CSDemo.Models.Cart;

@{

}
<section class="content account">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <article class="account-content checkout-steps">
                    <h2>Thank you your order is being processed</h2>
                    <h3>Your order number is: <strong>123456789</strong></h3>
                </article>
            </div>

        </div>
    </div>
</section>