@using Sitecore.Links
@using Sitecore.Mvc;
@using Sitecore.Resources.Media
@model CSDemo.Models.Marquee.CarouselViewModel
<!-- ==========================
    JUMBOTRON - START
=========================== -->
@if (Model != null && Model.DisplayOn)
{
    <section class="content jumbotron">
        <div id="homepage-1-carousel" class="nav-inside owl-animation">
            @foreach (var slide in Model.CarouselSlides)
            {
                if (slide.CanShowSlide)
                {
                    <div class="item slide-1" style="background-image: url(@slide.Url)">
                        <div class="slide-mask"></div>
                        <div class="slide-body">
                            <div class="container">
                                @Html.Raw(@slide.Content)
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
}
<!-- ==========================
    JUMBOTRON - END
=========================== -->
