
<!-- ==========================
    JUMBOTRON - START
=========================== -->
<section class="content jumbotron">
    <div id="homepage-1-carousel" class="nav-inside owl-animation">
        <div class="item slide-1">
            <div class="slide-mask"></div>
            <div class="slide-body">
                <div class="container">
                    <i class="fa fa-paper-plane animation top-to-bottom delay-1 slow"></i>
                    <h1 class="animation top-to-bottom slow">uMarket</h1>
                    <p class="animation bottom-to-top slow">30+ HTML Pages • Simple Design • Components </p>
                </div>
            </div>
        </div>
        <div class="item slide-2">
            <div class="slide-mask"></div>
            <div class="slide-body">
                <div class="container">
                    <h1 class="border animation top-to-bottom">The <b>easiest</b> way to shop</h1>
                    <ul class="list-unstyled">
                        <li class="animation left-to-right delay-1"><i class="fa fa-check"></i> An Established Product</li>
                        <li class="animation left-to-right delay-2"><i class="fa fa-check"></i> True Premium Quality</li>
                        <li class="animation left-to-right delay-3"><i class="fa fa-check"></i> Dedicated Support</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item slide-3">
            <div class="slide-mask"></div>
            <div class="slide-body">
                <div class="container">
                    <h1 class="animation right-to-left fast">SALE UP TO 70% OFF</h1>
                    <p class="animation right-to-left delay-1 fast">WINTER COLLECTION 2015</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========================
    JUMBOTRON - END
=========================== -->
