@using Sitecore.Links
@using Sitecore.Mvc;
@using Sitecore.Resources.Media
@model CSDemo.Models.Marquee.CarouselViewModel
<!-- ==========================
    JUMBOTRON - START
=========================== -->
@if (Model != null)
{
    <section class="content jumbotron">
        <div id="homepage-1-carousel" class="nav-inside owl-animation">
            @foreach (var slide in Model.CarouselSlides)
            {
                <div class="item slide-1" style="background-image: @MediaManager.GetMediaUrl(@slide.Image.MediaItem)">
                    <div class="slide-mask"></div>
                    <div class="slide-body">
                        <div class="container">
                            @Html.Raw(@slide.Content)
                            @*<i class="fa fa-paper-plane animation top-to-bottom delay-1 slow"></i>
                                <h1 class="animation top-to-bottom slow">uMarket</h1>
                                <p class="animation bottom-to-top slow">30+ HTML Pages • Simple Design • Components </p>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
<!-- ==========================
    JUMBOTRON - END
=========================== -->
