@model CSDemo.Models.ProgramInfo.MessageViewModel


<div class="container program-message">
	<div class="row">
		<div class="col-md-4">
			<img src="@Model.ImageSrc" />
		</div>
		<div class="col-md-1">

		</div>
		<div class="col-md-7">
			@Html.Raw(Model.Message)
		</div>
	</div>
</div>