@using Sitecore.Mvc
@using Sitecore.Data
@using Sitecore.Data.Items

@{
    // need to refactor this to use Controller rendering instead of view redering

    // This is assuming that the category will be based on the Adventure works catalogue

    // Parameters setting can be used in future to determine the categories that will be listed.

    // get the item on the path /sitecore/Commerce/Catalog Management/Catalogs/Adventure Works Catalog/Departments

    // if not null, get its children

    // If not null, loop through the children and list the categories

    var categoryParentPath = "/sitecore/Commerce/Catalog Management/Catalogs/Adventure Works Catalog/Departments";

    var categoryParent = Sitecore.Context.Database.GetItem(categoryParentPath).GetChildren();
}

@if (categoryParent != null)
{
    <section class="content categories">
        <div class="row row-no-padding">
            @{
                // get category image if any
                var catImage = "assets/images/categories/category-2.jpg";

                foreach (Item category in categoryParent)
                {
                    var catImageIds = category["Images"];

                    if (!string.IsNullOrEmpty(catImageIds))
                    {
                        var catImages = catImageIds.Split('|');
                        Item catImageItem = Sitecore.Context.Database.GetItem(catImages[0]);
                        catImage = "/~/media/" + catImageItem.ID.ToShortID() + ".ashx";
                    }

                        <!-- CATEGORY - START -->
                            <div class="col-xs-4">
                                <div class="category">
                                    <a href="@Sitecore.Links.LinkManager.GetItemUrl(category)">
                                        <img src="@catImage" class="img-responsive" alt="" style="max-height:310px">
                                        <div class="category-mask"></div>
                                        <h3 class="category-title">@category.Name <span>Collection</span></h3>
                                    </a>
                                </div>
                            </div>
                        <!-- CATEGORY - END -->

                }
            }
        </div>
    </section>
}




