@using CSDemo.Models.Product
@using CSDemo.Models

@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<Category>>

@if (Model != null)
{
    <section class="content categories">
        <div class="row row-no-padding">
            @foreach (Category category in Model)
            {
                var cid = Model.Count(c => c.Name == category.Name) > 1 ? string.Format("?cid={0}", category.ID.ToString()) : string.Empty;
            <!-- CATEGORY - START -->
                <div class="col-xs-4">
                    @using (BeginEditFrame(category, "Edit Category", x => x.Images, x => x.Name))
                    {
                        <div class="category">
                            <a href="@category.Url@cid">
                                @if (category.Images != null && category.Images.Any())
                                {                               
                                    @RenderImage(category.Images.ElementAt(0), x => x, new {mh = 310, @class = "img-responsive "}, isEditable: false)
                                }
                                else
                                {
                                    <img src="~/Assets/images/products/comingsoon.png" class="img-responsive" alt="@category.Name Collection" style="max-height: 310px">
                                }
                                
                                <div class="category-mask"></div>
                                <h3 class="category-title">@category.Name <span>Collection</span></h3>
                            </a>
                        </div>
                    }
                </div>
            <!-- CATEGORY - END -->
                }
        </div>
    </section>
}




