<!-- ==========================
    SERVICES - START
=========================== -->
<section class="content services services-3x">
    <div class="container">
        <div class="row row-no-padding">

            <!-- SERVICE - START -->
            <div class="col-xs-12 col-sm-4">
                <div class="service">
                    <i class="fa fa-star"></i>
                    <h3>FREE SHIPPING ON ALL ORDRES</h3>
                    <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                </div>
            </div>
            <!-- SERVICE - END -->
            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
                <div class="service">
                    <i class="fa fa-heart"></i>
                    <h3>AMAZING CUSTOMER SERVICE</h3>
                    <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                </div>
            </div>
            <!-- SERVICE - END -->
            <!-- SERVICE - START -->
            <div class="col-xs-6 col-sm-4">
                <div class="service">
                    <i class="fa fa-rocket"></i>
                    <h3>NO CUSTOMS OR DUTY FEES!</h3>
                    <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                </div>
            </div>
            <!-- SERVICE - END -->

        </div>

    </div>
</section>
<!-- ==========================
    SERVICES - END
=========================== -->

