@using Sitecore.Links;
@using Sitecore.Mvc;
@using Sitecore.Resources.Media;
@using System.Linq;
@using CSDemo.Models.Product
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<CSDemo.Models.Product.GeneralCategory>>
@if (Model != null && Model.Any())
{
    return;
}
<!-- ==========================
    CATEGORIES - START
=========================== -->
<section class="content categories">
    <div class="row row-no-padding">
        <!-- CATEGORY - START -->
        @foreach (var category in Model.ToList())
            {
                using (BeginEditFrame(category.Path))
                {
                <div class="col-xs-4">
                    <div class="category">
                        <a href="@category.Url">
                            @RenderImage(category.Images.ElementAt(0), t => t, new { @class = "img-responsive" })
                            <div class="category-mask"></div>
                            <h3 class="category-title">@category.Title <span>Collection</span></h3>
                        </a>
                    </div>
                </div>
            }
        }
        <!-- CATEGORY - END -->
    </div>

</section>
<!-- ==========================
    CATEGORIES - END
=========================== -->
