<!-- ==========================
    CATEGORIES - START
=========================== -->
<section class="content categories">
    <div class="row row-no-padding">
        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="/categories/boots">
                    <img src="/~/media/E24E27AEE91942D099CFFA81E27B2BE8.ashx" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Boots <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->

        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="/categories/harnesses">
                    <img src="/~/media/AECEDF1D0FB64000AAF4B951C6079237.ashx" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Harnesses <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->

        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="/categories/supplies">
                    <img src="/~/media/34C79757AC154848BE03F70996DF9E55.ashx" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Supplies <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->
    </div>

</section>
<!-- ==========================
    CATEGORIES - END
=========================== -->

