<!-- ==========================
    OUR STORES - START
=========================== -->
<section class="content our-stores">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>Let's check our stores <a href="stores.html" class="btn btn-default btn-lg">Check More</a></h2>
                <div class="row">

                    <!-- STORE - START -->
                    <div class="col-sm-6">
                        <div class="store">
                            <h3>Prague</h3>
                            <ul class="list-unstyled">
                                <li>Krakovská 1307/22, 110 00 Prague 1</li>
                                <li>Vězeňská 910/2, 110 00 Prague 1-Staré Město</li>
                                <li>Na Hřebenkách 2, 150 00 Prague 5</li>
                            </ul>
                        </div>
                    </div>
                    <!-- STORE - END -->
                    <!-- STORE - START -->
                    <div class="col-sm-6">
                        <div class="store">
                            <h3>Berlin</h3>
                            <ul class="list-unstyled">
                                <li>Bebelpl. 1, 10117 Berlin</li>
                                <li>Jablonskistraße 16, 10405 Berlin</li>
                                <li>Rigaer Str. 9, 10247 Berlin</li>
                            </ul>
                        </div>
                    </div>
                    <!-- STORE - END -->

                </div>
                <div class="row">

                    <!-- STORE - START -->
                    <div class="col-sm-6">
                        <div class="store">
                            <h3>New York</h3>
                            <ul class="list-unstyled">
                                <li>63 Crosby St, New York, NY 10012</li>
                            </ul>
                        </div>
                    </div>
                    <!-- STORE - END -->
                    <!-- STORE - START -->
                    <div class="col-sm-6">
                        <div class="store">
                            <h3>Paris</h3>
                            <ul class="list-unstyled">
                                <li>18 Rue Antin, 75002 Paris</li>
                            </ul>
                        </div>
                    </div>
                    <!-- STORE - END -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========================
    OUR STORES - END
=========================== -->

