
<section class="content products">
    <div class="container">
        <h2>Quick Order System</h2>

        <form>
            <div>
                <div id="productSBox">
                    <input type="text" class="form-control productSearchBox" name="productSearchBox" id="productSearchBox" autocomplete="off" placeholder="Type product SKU#"/>
                </div>
                <div id="list-box" style="display: none">
                    <table class="table table-bordered" id="productsToAdd">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Product</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <hr/>
                <table class="table table-bordered" id="productsAdded">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </form>

    </div>
</section>

<style>
  
    #custom-templates .empty-message {
  
        padding: 5px 10px;
 
        text-align: center;

}

</style>

<script src="~/Assets/js/typeahead.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#productSearchBox").keyup(function () {
            console.log($(this).val());
 
            var queryVal = $(this).val();
            //var inputMinLength = 1;
            var data = "query:'" + queryVal + "'";

            $.ajax({
                type: "POST",
                url: "/AJAX/cart.asmx/GetProductsResult ",
                data: "{" + data + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    hideListBox();
                    var output = result.d;

                    // console.log(output);

                    var products = output.products;

                    if (products && products.length > 0) {

                        console.log(products);

                        $("#list-box").show();
                        //alert("Building product table");
                        $.each(products, function (i, el) {

                            var param =  escape(el.Id + "|||" + el.CatalogId + "|||" + el.Guid + "|||" + el.ImageSrc + "|||" + el.Price + "|||" + el.Title + "|||" + el.CatalogName);
                            $("#productsToAdd tbody").append(
                                "<tr>"
                                + "<td><input class='btn btn-primary' type='button' value='Select'  onclick='AddToSelectedList(\"" + param + "\");hideListBox();' /></td>"
                                + "<td><img style='max-width:75px' src='" + el.ImageSrc + "' /><br/>" + el.Title + "<br/>" + el.Id + "</td>"
                                + "<td>$" + el.Price + "</td>"
                                + "</tr>"
                            );

                        });

                    }

                    //console.log(categories);
                    //console.log(products);

                    //console.log(result.d);

                },
                error: function (error) {

                    console.log(error);

                }

            });

        });

    });
</script>
<script>
    
    function hideListBox() {

        $("#productsToAdd > tbody").html("");
        $("#list-box").hide();
    }
 
    function AddToSelectedList(productData) {

        // console.log(productData);

        var original = productData;

        productData = unescape(productData);

        var productDataArr = productData.split("|||");


        $("#productsAdded tbody").append(
            "<tr>"
            + "<td><img style='max-width:75px' src='" + productDataArr[3] + "' /><br/>" + productDataArr[0] + "</td>"
            + "<td><input name='quantity' id='" + productDataArr[2] + "' type='number' min='1' max='1000000' value = '1' class='form-control prodQuantuty' data-proddata='" + productData + "'  /></td>"
            + "<td><input class='btn btn-primary' type='button' value='Add to Cart'   onclick=\"AddToCart('" + original + "',this.form.quantity.value);\" />&nbsp;&nbsp;&nbsp;<input class='btn btn-primary' type='button' value='-'  onclick=\"$(this).closest('tr').remove();\" /></td>"
            + "</tr>"
        );

    }

    function removeExtraCategoryDropDowns(categoryId) {

        if (categoryId) {

            var totalSelect = $(".CategoryListBox").length;
            var toRemove = categoryId.split("_").length - 1;

            var diff = toRemove - totalSelect;

            if (diff < 0) {

                $('#categoriesBox > .CategoryListBox').slice(diff).remove();
            }
        }
    }

    function AddToCart(productData, boxid) {

        productData = unescape(productData);


        var quantity = boxid;
        var productDataArr = productData.split("|||");
        var productId = productDataArr[0];
        var catalogName = productDataArr[6];
        var contextItemId = productDataArr[2];
        var variantId = -1;

        addProductToCart(quantity, productId, catalogName, variantId, contextItemId);
        $("#productsAdded tbody").html();

        refresh();

    }

    function addProductToCart(quantity, productId, catalogName, variantId, contextItemId) {

        $.ajax({
            type: "POST",
            url: "/AJAX/cart.asmx/AddProductToCart",
            data: "{quantity:'" + quantity + "', productId:'" + productId + "', catalogName:'" + catalogName + "', variantId:'" + variantId + "', contextItemId:'" + contextItemId + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result.d == "") {


                }

            },
            error: function (error) {
                console.log(error);
            }

        });

    }

    function refresh() {

        setTimeout(function () {
            location.reload();
        }, 1000);
    }
</script>
