<div style="width:680px;padding:15px;margin: 10px auto;border:1px solid #cccccc;">
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
		<tbody>
			<tr>
				<td>
					<p>Purchases for this inmate require authorization. Please <a href="/account/signin?returnUrl=@ViewBag.ReturnUrl">login</a> and try again.</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>