<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--Create a patch file on your local to update this setting-->
    <sc.variable name="sourceFolder" value="C:\Users\Vasiliy.Fomichev\Desktop\Sitecore-CS-Demo" />
    <unicorn>
      <configurations>
        <configuration name="CSDemo" description="Website content" >
          <targetDataStore physicalRootPath="$(sourceFolder)\csdemo\App_Data\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CSDemo.Content" database="master" path="/sitecore/content/home" />
            <include name="CSDemo.Templates" database="master" path="/sitecore/templates/user defined/cs demo" />
            <include name="CSDemo.Renderings" database="master" path="/sitecore/layout/renderings/cs demo" />
            <include name="CSDemo.Layouts" database="master" path="/sitecore/layout/layouts/cs demo" />
            <include name="CSDemo.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/cs demo" />
            <include name="CSDemo.MediaLibrary" database="master" path="/sitecore/media library/cs demo" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>