<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--Create a patch file on your local to update this setting-->
    <sc.variable name="sourceFolder" value="C:\Users\Ola.Owolawo\Source\Workspaces\xccommerce112demo\CSDemo" />
    <unicorn>
      <configurations>
        <configuration name="Developer Content" description="Website content" >
          <targetDataStore physicalRootPath="$(sourceFolder)\App_Data\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="XcCommerce112Demo.Content" database="master" path="/sitecore/content/Websites" />
            <include name="XcCommerce112Demo.Templates" database="master" path="/sitecore/templates/XcCommerce112Demo" />
            <include name="XcCommerce112Demo.Renderings" database="master" path="/sitecore/layout/renderings/XcCommerce112Demo" />
            <include name="XcCommerce112Demo.Layouts" database="master" path="/sitecore/layout/layouts/XcCommerce112Demo" />
            <include name="XcCommerce112Demo.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/XcCommerce112Demo" />
            <include name="XcCommerce112Demo.MediaLibrary" database="master" path="/sitecore/media library/XcCommerce112Demo" />
          </predicate>
        </configuration>        
        <!--<configuration name="CSDemo" description="Website content" >
          <targetDataStore physicalRootPath="$(sourceFolder)\csdemo\App_Data\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CSDemo.Content" database="master" path="/sitecore/content/home" />
            <include name="CSDemo.Templates" database="master" path="/sitecore/templates/user defined/cs demo" />
            <include name="CSDemo.Renderings" database="master" path="/sitecore/layout/renderings/cs demo" />
            <include name="CSDemo.Layouts" database="master" path="/sitecore/layout/layouts/cs demo" />
            <include name="CSDemo.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/cs demo" />
            <include name="CSDemo.MediaLibrary" database="master" path="/sitecore/media library/cs demo" />
          </predicate>
        </configuration>-->
      </configurations>
    </unicorn>
  </sitecore>
</configuration>