<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="CSDemo.Initializer, CSDemo"  />
      </initialize>
    </pipelines>
    <sites>
      <site patch:before="*[@name='website']"
            name="XcCommerce112Demo"
            hostName="XcCommerce112Demo|csdemo.xcentium.net"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/CSDemo"
            startItem="/home"
            database="master"
            content="master"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="10MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="5MB"
            filteredItemsCacheSize="2MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false" />
    </sites>

    <commerce.Entities>
      <CartLine type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartLine, Sitecore.Commerce.Connect.CommerceServer">
        <patch:attribute name="type">CSDemo.Models.Cart.CustomCommerceCartLine, CSDemo</patch:attribute>
      </CartLine>
    </commerce.Entities>
    
  </sitecore>
</configuration>