<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>


        <configuration name="Rio Grande Content" description="Rio Grande conent." >
          <targetDataStore physicalRootPath="$(sourceFolder)\App_Data\serialization\rg\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--<include name="RG.Content" database="master" path="/sitecore/content/Rio Grande" />-->
            <include name="RG.MediaLibrary" database="master" path="/sitecore/media library/Rio Grande" />
          </predicate>
        </configuration>

        <configuration name="Rio Grande Foundation" description="Rio Grande foundation." >
          <targetDataStore physicalRootPath="$(sourceFolder)\App_Data\serialization\rg\foundation" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="RG.Templates" database="master" path="/sitecore/templates/Rio Grande" />
            <include name="RG.Renderings" database="master" path="/sitecore/layout/renderings/Rio Grande" />
            <include name="RG.Layouts" database="master" path="/sitecore/layout/layouts/Rio Grande" />
            <include name="RG.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Rio Grande" />
            <include name="RG.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Rio Grande" />
            <include name="RG.Profiles" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Rio Grande" />
          </predicate>
        </configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>