@using Sitecore.Mvc

@{
    string col_default = "col-md-6";

    var col1 = col_default;
    var col2 = col_default;

}

@{

    // Note, Will be moving to View model or Controller Rendering

    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var rcParams = rc.Rendering.Parameters;

        if (rcParams["Column1 CSS Class"] != null)
        {
            if (!string.IsNullOrEmpty(rcParams["Column1 CSS Class"]))
            {
                col1 = rcParams["Column1 CSS Class"].ToString().Trim();
            }
        }


        if (rcParams["Column2 CSS Class"] != null)
        {
            if (!string.IsNullOrEmpty(rcParams["Column2 CSS Class"]))
            {
                col2 = rcParams["Column2 CSS Class"].ToString().Trim();
            }
        }

    }

}

            <div class="@col1">
                @Html.Sitecore().Placeholder("two-col-one")
            </div>
            <div class="@col2">
                @Html.Sitecore().Placeholder("two-col-two")
            </div>
