@model CSDemo.Models.Faq.FaqViewModel

<div class="container">
	<div class="row">
		<div class="col-md-12">
			@foreach (var faq in Model.Faqs)
			{
				<h2>@faq.Question</h2>
				@Html.Raw(faq.Answer)
			}
			<p><br /></p>
		</div>
	</div>
</div>