@using Sitecore.Forms.Mvc.Html
@model CSDemo.Configuration.WFFM.OrderInfoField
@if (Model.Order == null)
{
    <p>Failed to lookup order</p>
}
else
{
    <p>Order #@Html.Label(Model.Order.TrackingNumber ?? "Empty")</p>
    <p>Date: @Html.Label(Model.Order.OrderDate ?? "Empty")</p>
    <p>Name: @Html.Label(Model.Order.Billing.FirstName + Model.Order.Billing.LastName ?? "Empty")</p>
}