<!-- ==========================
    CATEGORIES - START
=========================== -->
<section class="content categories">
    <div class="row row-no-padding">
        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="/product-listing?id={833102C4-765F-4FA5-8DBD-A7F785D41659}">
                    <img src="/~/media/E24E27AEE91942D099CFFA81E27B2BE8.ashx" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Boots <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->

        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="/product-listing?id={D3D058E0-54C1-430D-A25C-5707786183AB}">
                    <img src="/~/media/AECEDF1D0FB64000AAF4B951C6079237.ashx" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Harnesses <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->

        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="/product-listing?id={560ECC9F-77C4-4247-97C4-4D4FB5EBF136}">
                    <img src="/~/media/34C79757AC154848BE03F70996DF9E55.ashx" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Supplies <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->
    </div>

</section>
<!-- ==========================
    CATEGORIES - END
=========================== -->

