<!-- ==========================
    GRID PRODUCTS - START
=========================== -->
<section class="content grid-products border-top">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-3">
                <article class="product-item">
                    <img src="/~/media/BB3C6EB56E1F4BA0B32A1DE78C0948D7.ashx" class="img-responsive" alt="">
                    <h3><a href="/product-listing/product-detail?id={125303D5-37BF-4377-88F7-4799AE7C852B}">Men's conversion pants</a></h3>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <span class="price">
                        <del><span class="amount">$146.00</span></del>
                        <ins><span class="amount">$46.00</span></ins>
                    </span>
                </article>
            </div>

            <div class="col-xs-6 col-sm-3">
                <article class="product-item">
                    <img src="/~/media/3780CFBAC7494BEFAEDBBF8B3F6E2013.ashx" class="img-responsive" alt="">
                    <h3><a href="/product-listing/product-detail?id={626FD283-745F-4ABD-B4E4-FDABD4BFAACF}">Unisex Drawstring pants</a></h3>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <span class="price">
                        <del><span class="amount">$148.00</span></del>
                        <ins><span class="amount">$48.00</span></ins>
                    </span>
                </article>
            </div>

            <div class="col-xs-12 col-sm-3">
                <ul class="list-unstyled small-product">

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/product-listing/product-detail?id={67F38832-8CCE-4A67-A151-B633C8F827E9}">
                            <img src="/~/media/F9E25BBA40204306BC131819D18B7390.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Unisex hiking pants</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$155.00</span></del>
                            <ins><span class="amount">$55.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->
                    
                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/product-listing/product-detail?id={E5DD0E83-EFA0-42F7-959C-39E81973F6ED}">
                            <img src="/~/media/C2C01150FC0D49F880735C6DE7206774.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Sahara</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$214.00</span></del>
                            <ins><span class="amount">$114.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/product-listing/product-detail?id={92501B97-B2D7-4A7F-9748-EE3AB72CD996}">
                            <img src="/~/media/F1198DB3324841A8920DD6EC044009F1.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Crystal</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$225.00</span></del>
                            <ins><span class="amount">$125.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/product-listing/product-detail?id={089486B0-66F1-4D21-9664-9CD1981D4F0C}">
                            <img src="/~/media/DAC981036FD04BBBA52475284346A38C.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Alpine</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$288.00</span></del>
                            <ins><span class="amount">$188.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                </ul>

            </div>

            <div class="col-xs-12 col-sm-3">
                <ul class="list-unstyled small-product">

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/product-listing/product-detail?id={AFF77E47-1C57-4283-BC7A-49459D7C2AE5}">
                            <img src="/~/media/79EFE6FCC38D4EC9B8B0E9C81E12E5A6.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Black Diamond Quicksilver</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$107.00</span></del>
                            <ins><span class="amount">$7.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/product-listing/product-detail?id={894B16BA-5C4A-4DC3-A882-5890CB1BF466}">
                            <img src="/~/media/98A96AAB89C5406281522BC23019B2C1.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Petzl Spirit</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$114.00</span></del>
                            <ins><span class="amount">$14.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/product-listing/product-detail?id={1B168F3F-DD5D-47C6-9276-59EAD348054C}">
                            <img src="/~/media/EFC747C536C34E79B48DDCF4D410AF4E.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Men's button-down</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$142.00</span></del>
                            <ins><span class="amount">$42.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/product-listing/product-detail?id={896141EA-44D0-47FB-94F3-CEC5B3C52E47}">
                            <img src="/~/media/28CCB07673ED4FBC9423A735D4A7F97D.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Unisex button-down</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$175.00</span></del>
                            <ins><span class="amount">$75.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                </ul>

            </div>

        </div>
    </div>
</section>
<!-- ==========================
    GRID PRODUCTS - END
=========================== -->
