<!-- ==========================
    GRID PRODUCTS - START
=========================== -->
<section class="content grid-products border-top">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-3">
                <article class="product-item">
                    <img src="/~/media/BB3C6EB56E1F4BA0B32A1DE78C0948D7.ashx" class="img-responsive" alt="">
                    <h3><a href="/Category/Pants/AW046-01">Men's conversion pants</a></h3>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <span class="price">
                        <ins><span class="amount">$46.00</span></ins>
                    </span>
                </article>
            </div>

            <div class="col-xs-6 col-sm-3">
                <article class="product-item">
                    <img src="/~/media/3780CFBAC7494BEFAEDBBF8B3F6E2013.ashx" class="img-responsive" alt="">
                    <h3><a href="/Category/Pants/AW048-01">Unisex Drawstring pants</a></h3>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <span class="price">
                        <ins><span class="amount">$48.00</span></ins>
                    </span>
                </article>
            </div>

            <div class="col-xs-12 col-sm-3">
                <ul class="list-unstyled small-product">

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/Category/Pants/AW055-01">
                            <img src="/~/media/F9E25BBA40204306BC131819D18B7390.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Unisex hiking pants</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <ins><span class="amount">$55.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->
                    
                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/Category/Parkas/AW114-06">
                            <img src="/~/media/C2C01150FC0D49F880735C6DE7206774.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Sahara</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <ins><span class="amount">$114.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/Category/Parkas/AW125-06">
                            <img src="/~/media/F1198DB3324841A8920DD6EC044009F1.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Crystal</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <ins><span class="amount">$125.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/Category/Parkas/AW188-06">
                            <img src="/~/media/DAC981036FD04BBBA52475284346A38C.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Alpine</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <ins><span class="amount">$188.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                </ul>

            </div>

            <div class="col-xs-12 col-sm-3">
                <ul class="list-unstyled small-product">

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/Category/Carabiners/AW007-08">
                            <img src="/~/media/79EFE6FCC38D4EC9B8B0E9C81E12E5A6.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Black Diamond Quicksilver</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <ins><span class="amount">$7.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/Category/Carabiners/AW014-08">
                            <img src="/~/media/98A96AAB89C5406281522BC23019B2C1.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Petzl Spirit</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <ins><span class="amount">$14.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/Category/Shirts/AW042-03">
                            <img src="/~/media/EFC747C536C34E79B48DDCF4D410AF4E.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Men's button-down</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <ins><span class="amount">$42.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="/Category/Shirts/AW075-03">
                            <img src="/~/media/28CCB07673ED4FBC9423A735D4A7F97D.ashx?w=60&as=1&h=80" class="img-responsive" alt="">
                            <h3>Unisex button-down</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span class="price">
                            <ins><span class="amount">$75.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                </ul>

            </div>

        </div>
    </div>
</section>
<!-- ==========================
    GRID PRODUCTS - END
=========================== -->
