<!-- ==========================
    CATEGORIES - START
=========================== -->
<section class="content categories">
    <div class="row row-no-padding">

        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="products.html">
                    <img src="assets/images/categories/category-2.jpg" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Men <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->
        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="products.html">
                    <img src="assets/images/categories/category-3.jpg" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Women <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->
        <!-- CATEGORY - START -->
        <div class="col-xs-4">
            <div class="category">
                <a href="products.html">
                    <img src="assets/images/categories/category-4.jpg" class="img-responsive" alt="">
                    <div class="category-mask"></div>
                    <h3 class="category-title">Sports <span>Collection</span></h3>
                </a>
            </div>
        </div>
        <!-- CATEGORY - END -->

    </div>

</section>
<!-- ==========================
    CATEGORIES - END
=========================== -->

