<!-- ==========================
    GRID PRODUCTS - START
=========================== -->
<section class="content grid-products border-top">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-3">
                <article class="product-item">
                    <img src="assets/images/products/product-1.jpg" class="img-responsive" alt="">
                    <h3><a href="single-product.html">Sunny Tank Selected Femme</a></h3>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span class="price">
                        <del><span class="amount">$36.00</span></del>
                        <ins><span class="amount">$30.00</span></ins>
                    </span>
                </article>
            </div>

            <div class="col-xs-6 col-sm-3">
                <article class="product-item">
                    <img src="assets/images/products/product-2.jpg" class="img-responsive" alt="">
                    <h3><a href="single-product.html">Sunny Tank Selected Femme</a></h3>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <span class="price">
                        <del><span class="amount">$36.00</span></del>
                        <ins><span class="amount">$30.00</span></ins>
                    </span>
                </article>
            </div>

            <div class="col-xs-12 col-sm-3">
                <ul class="list-unstyled small-product">

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="single-product.html">
                            <img src="assets/images/products/product-1.jpg" class="img-responsive" alt="">
                            <h3>Sunny Tank Selected Femme</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->
                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="single-product.html">
                            <img src="assets/images/products/product-2.jpg" class="img-responsive" alt="">
                            <h3>Sunny Tank Selected Femme</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->
                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="single-product.html">
                            <img src="assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            <h3>Sunny Tank Selected Femme</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->
                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="single-product.html">
                            <img src="assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            <h3>Sunny Tank Selected Femme</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                </ul>

            </div>

            <div class="col-xs-12 col-sm-3">
                <ul class="list-unstyled small-product">

                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="single-product.html">
                            <img src="assets/images/products/product-1.jpg" class="img-responsive" alt="">
                            <h3>Sunny Tank Selected Femme</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->
                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="single-product.html">
                            <img src="assets/images/products/product-2.jpg" class="img-responsive" alt="">
                            <h3>Sunny Tank Selected Femme</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->
                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="single-product.html">
                            <img src="assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            <h3>Sunny Tank Selected Femme</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->
                    <!-- PRODUCT - START -->
                    <li class="clearfix">
                        <a href="single-product.html">
                            <img src="assets/images/products/product-3.jpg" class="img-responsive" alt="">
                            <h3>Sunny Tank Selected Femme</h3>
                        </a>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="price">
                            <del><span class="amount">$36.00</span></del>
                            <ins><span class="amount">$30.00</span></ins>
                        </span>
                    </li>
                    <!-- PRODUCT - END -->

                </ul>

            </div>
        </div>
    </div>
</section>
<!-- ==========================
    GRID PRODUCTS - END
=========================== -->
