<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>


    <cartServiceProvider type="KeefePOC.Pipelines.Providers.CartServiceProvider, KeefePOC" singleInstance="true" patch:instead="*[@type='Sitecore.Commerce.Services.Carts.CartServiceProvider, Sitecore.Commerce']"  />
  
    <pipelines>
      
      <keef.commerce.carts.validateCartLine>
        <processor type="KeefePOC.Pipelines.Validations.AddToCart.InmateProductValidation, KeefePOC" />        
      </keef.commerce.carts.validateCartLine>     

    </pipelines>
  </sitecore>
</configuration>