<div style="width:680px;padding:15px;margin: 10px auto;border:1px solid #cccccc;">
	<table width="100%" border="0" align="center" cellpadding="5" cellspacing="0">
		<tbody>
			<tr>
				<td>
					Your account is not authorized to login or complete purchases. Please contact customer service for assistance.
				</td>
			</tr>
		</tbody>
	</table>
</div>