<!-- ==========================
    ACCOUNT - START
=========================== -->
<section class="content account">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="login-form-wrapper">
                    <form action="/Account/signin" method="post" id="Signin-form">
                        <h3>Sign In</h3>
                        @{
                            var message = Request.QueryString["msg"];
                            if (!string.IsNullOrEmpty(message))
                            {
                                
                                <span class="error-text"><strong>Error:</strong>@message</span>
                                
                            }
                        }
                        <div class="form-group">
                            <label>Email<span class="required">*</span></label>
                            <input type="text" id="Email" name="email" 
                                   class="form-control" 
                                   placeholder="Username or Email" maxlength="75"
                                    required />
                        </div>
                        <div class="form-group">
                            <label>Password<span class="required">*</span></label>
                            <input type="Password" id="password" name="password" 
                                   class="form-control" maxlength="100"
                                    required />
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <input type="checkbox" id="RememberMe" name="RememberMe"
                                       value="true" />
                                <label for="RememberMe">Remember me</label>
                            </div>
                            <input type="hidden" value="false" name="RememberMe" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </form>
                    <div class="row">
                        <div class="col-xs-6">
                           
                            @*<a href="" class="btn btn-brand btn-facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>*@
                            @Html.Sitecore().Placeholder("page-social-login-fb")
                        </div>
                        <div class="col-xs-6">
                            <a href="" class="btn btn-brand btn-google-plus"><i class="fa fa-google-plus"></i>Sign in with Google Plus</a>
                        </div>
                    </div>
                </div>
                <p class="form-text">Did you <a href="lost-password.html">forgot your password?</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ==========================
    ACCOUNT - END
=========================== -->
