@model CSDemo.Models.Inmate.InmateSelector
@if (Model == null)
{
    return;
}
<section class="content">
    <div class="container">
        @using (Html.BeginForm())
        {
            <div style="margin:0px auto; width:440px">
                <div>
                    <label>Inmate #:</label><br />
                    @Html.EditorFor(m => Model.InmateId, new { htmlAttributes = new { @style = "width:439px" } })
                </div><br />
                <div>
                    <label>Institution:</label><br />
                    @Html.DropDownListFor(m => Model.SelectedPrisonId, new List<SelectListItem>
              {
                    new SelectListItem { Text="Select an Institution", Value= string.Empty },
                    new SelectListItem { Text="(FCRF) Female Community Reentry Facility McFarland PG A/B 2017 - 1st ", Value= "20021" },
                    new SelectListItem { Text="Central Valley MCCF PG A/B 2017 - 1st ", Value= "20114" },
                    new SelectListItem { Text="Delano MCCF PG A/B 2017 - 1st ", Value= "20126" },
                    new SelectListItem { Text="Desert View MCCF PG A/B 2017 - 1st", Value= "20127" }
              })
                </div><br />
                <button type="submit">Go</button>
                <br />
                <br />
                <a target="_blank" href="../templates/CaliforniaQP_2014/CAQP_Jan2015_OrderForms.pdf"><font size="1"><font>Click Here to download a blank order form</font></font></a>
            </div>
        }

    </div>
</section>