<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="commerce_alexa_movies_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>

            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />

            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">

                <indexAllFields>true</indexAllFields>

                <!-- Included templates -->
                <include hint="list:AddIncludedTemplate">
                  <!--<Movie>{93F9D621-A33E-4851-B43B-40F90F67BD7E}</Movie>-->
                  <MovieVariant>{39B6A45F-D21E-4004-BE96-4F8721C60DA1}</MovieVariant>
                </include>

                <include hint="list:AddIncludedField">
                  <ShowDate>{9D3A488A-BE2E-4F1F-8C4B-DCD1C18096B2}</ShowDate>
                  <ShowTime>{E0C52E41-B463-4028-A099-1DC31FBAFEA6}</ShowTime>
                  <LocationId>{1C75C16A-4B2C-457D-BE08-9ADA994E5CA5}</LocationId>
                </include>

                <fields hint="raw:AddComputedIndexField">
                  <field fieldName="moviezipcode">
                    CSDemo.Configuration.ComputedFields.CommerceMovieLocationZipcode, CSDemo
                  </field>
                  <field fieldName="moviename" returnType="string">
                    CSDemo.Configuration.ComputedFields.CommerceMovieName, CSDemo
                  </field>
                  <field fieldName="movielocationname" returnType="string">
                    CSDemo.Configuration.ComputedFields.CommerceMovieLocationName, CSDemo
                  </field>
                </fields>
              </documentOptions>
            </configuration>

            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.ModificationCountCommitPolicy, Sitecore.ContentSearch">
                  <Limit>300</Limit>
                </policy>
              </policies>
            </commitPolicyExecutor>

            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>master</Database>
                <Root>/sitecore/Commerce/Catalog Management/Catalogs/XCinemaCatalog</Root>
              </crawler>
            </locations>

            <enableItemLanguageFallback>false</enableItemLanguageFallback>
            <enableFieldLanguageFallback>false</enableFieldLanguageFallback>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>