<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="commerce_alexa_movies_master_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
              <documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
                <!-- Included templates -->
                <include hint="list:AddIncludedTemplate">
                  <MovieVariant xdt:Transform="Insert">{570DC437-4113-4EA8-A102-A946A8991CCE}</MovieVariant>
                </include>

                <include hint="list:AddIncludedField">
                  <ShowDate xdt:Transform="Insert">{5C81BEF7-DC69-4CEA-A822-1AE85CB2A092}</ShowDate>
                  <ShowTime xdt:Transform="Insert">{B027BA22-9E77-4785-A066-15E9365CB064}</ShowTime>
                  <LocationId xdt:Transform="Insert">{DB838FC5-B0B3-4BFC-BF70-05C11A19040F}</LocationId>
                </include>
              </documentOptions>
            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>