<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--Create a patch file on your local to update this setting-->
    <sc.variable name="sourceFolder" value="C:\Workspaces\Repos\Sitecore-CS-Demo\CSDemo" />
    <unicorn>
      <configurations>
        
        <configuration name="CS Demo Content" description="CS Demo content." >
          <targetDataStore physicalRootPath="$(sourceFolder)\App_Data\serialization\csdemo\content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CSDemo.Content" database="master" path="/sitecore/content/CSDemo" />
            <include name="CSDemo.MediaLibrary" database="master" path="/sitecore/media library/CSDemo" />
            <include name="CSDemo.Content.Data" database="master" path="/sitecore/content/Data" />
          </predicate>
        </configuration>

        <configuration name="CS Demo Foundation" description="CS Demo foundation." >
          <targetDataStore physicalRootPath="$(sourceFolder)\App_Data\serialization\csdemo\foundation" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CSDemo.Templates" database="master" path="/sitecore/templates/CSDemo" />
            <include name="CSDemo.Renderings" database="master" path="/sitecore/layout/renderings/CSDemo" />
            <include name="CSDemo.Layouts" database="master" path="/sitecore/layout/layouts/CSDemo" />
            <include name="CSDemo.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/CSDemo" />
            <include name="CSDemo.MarketingGoals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/CSDemo" />
            <include name="CSDemo.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/CSDemo" />
            <include name="CSDemo.Profiles" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Score" />
            <include name="CSDemo.RuleConditions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CS Demo" />
            <include name="CSDemo.CustomCommerceProductTemplate" database="master" path="/sitecore/templates/Commerce/Catalog/Commerce Product" />
            <include name="CSDemo.Tags" database="master" path="/sitecore/templates/Commerce/Catalog/CommerceSearchSettings" />
            
            <include name="CSDemo.Social.Applications" database="master" path="/sitecore/system/Social/Applications/CSDemo" />
            <include name="CSDemo.XblogTemplate" database="master" path="/sitecore/templates/XBlog/Page/Blogs" />
            <include name="CSDemo.XblogRenderings" database="master" path="/sitecore/layout/Renderings/XBlogMVC" />
            <include name="CSDemo.XblogSublayouts" database="master" path="/sitecore/layout/Sublayouts/XBlogWF" />
            <include name="CSDemo.StorefrontSettings" database="master" path="/sitecore/Commerce/Commerce Control Panel/Storefront Settings/Storefronts/XCentiumCSDemo" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>