<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="BucketConfiguration.ExcludeContextItemFromResult">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="HtmlEditor.DefaultProfile">
        <patch:attribute name="value">/sitecore/system/Settings/Html Editor Profiles/Rich Text Full</patch:attribute>
      </setting>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="Media.AutoSetAlt">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="AutomaticUnlockOnSaved">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Publishing.MaxDegreeOfParallelism">
        <patch:attribute name="value">4</patch:attribute>
      </setting>
      <setting name="Media.MaxSizeInDatabase">
        <patch:attribute name="value">500MB</patch:attribute>
      </setting>
      <setting name="Media.DefaultImageBackgroundColor">
        <patch:attribute name="value">#ffffff</patch:attribute>
      </setting>
      <setting name="Media.DisableFileMedia">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
      <setting name="ErrorPage">
        <patch:attribute name="value">/500</patch:attribute>
      </setting>
      <setting name="HtmlEditor.RemoveScripts">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
    <pipelines>
      <initialize>
        <processor type="CSDemo.Initializer, CSDemo"  />
      </initialize>
    </pipelines>
    <sites>
      <site patch:before="*[@name='website']"
            name="XcCommerce112Demo"
            hostName="csdemo|XcCommerce112Demo|csdemo.xcentium.net"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/CSDemo"
            startItem="/home"
            database="master"
            content="master"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="10MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="5MB"
            filteredItemsCacheSize="2MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false" />
    </sites>
    <linkManager defaultProvider="commerce">
      <providers>
        <add name="commerce" >
          <patch:attribute name="addAspxExtension">false</patch:attribute>
          <patch:attribute name="alwaysIncludeServerUrl">false</patch:attribute>
          <patch:attribute name="shortenUrls">true</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>
    <commerce.Entities>
      <CartLine type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartLine, Sitecore.Commerce.Connect.CommerceServer">
        <patch:attribute name="type">CSDemo.Models.Cart.CustomCommerceCartLine, CSDemo</patch:attribute>
      </CartLine>
    </commerce.Entities>
  </sitecore>
</configuration>