<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <!--Create a patch file on your local to update this setting-->
    <sc.variable name="sourceFolder" value="C:\inetpub\wwwroot\XcCommerce112Demo\Website" />
    <unicorn>
      <configurations>
        <configuration name="Dev Server Content" description="The configuration includes all paths with content needed to run the website besides the content tree and media library." >
          <targetDataStore physicalRootPath="$(sourceFolder)\App_Data\serialization\server" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CSDemo.Templates" database="master" path="/sitecore/templates/CSDemo" />
            <include name="CSDemo.Renderings" database="master" path="/sitecore/layout/renderings/CSDemo" />
            <include name="CSDemo.Layouts" database="master" path="/sitecore/layout/layouts/CSDemo" />
            <include name="CSDemo.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/CSDemo" />
            <include name="CSDemo.MarketingGoals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/CSDemo" />
            <include name="CSDemo.CustomLaunchPad" database="core" path="/sitecore/client/Applications/Launchpad" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>