<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="LicenseFile">
        <patch:attribute name="value">$(dataFolder)/license/license.xml</patch:attribute>
      </setting>
      <setting name="Media.RequestProtection.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="BucketConfiguration.ExcludeContextItemFromResult">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="HtmlEditor.DefaultProfile">
        <patch:attribute name="value">/sitecore/system/Settings/Html Editor Profiles/Rich Text Full</patch:attribute>
      </setting>
      <setting name="Media.RequestExtension">
        <patch:attribute name="value"></patch:attribute>
      </setting>
      <setting name="Media.RequestProtection.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="Media.AutoSetAlt">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="AutomaticUnlockOnSaved">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="Publishing.MaxDegreeOfParallelism">
        <patch:attribute name="value">4</patch:attribute>
      </setting>
      <setting name="Media.MaxSizeInDatabase">
        <patch:attribute name="value">500MB</patch:attribute>
      </setting>
      <setting name="Media.DefaultImageBackgroundColor">
        <patch:attribute name="value">#ffffff</patch:attribute>
      </setting>
      <setting name="Media.DisableFileMedia">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="WebDAV.Enabled">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="ItemNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
      <setting name="LinkItemNotFoundUrl">
        <patch:attribute name="value">/404</patch:attribute>
      </setting>
      <setting name="ErrorPage">
        <patch:attribute name="value">/500</patch:attribute>
      </setting>
      <setting name="HtmlEditor.RemoveScripts">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <setting name="MailServer">
        <patch:attribute name="value">smtp.office365.com</patch:attribute>
      </setting>
      <setting name="MailServerUserName">
        <patch:attribute name="value">web.dev@xcentium.com</patch:attribute>
      </setting>
      <setting name="MailServerPassword">
        <patch:attribute name="value">Xc3nt1emD3v</patch:attribute>
      </setting>
      <setting name="MailServerPort">
        <patch:attribute name="value">587</patch:attribute>
      </setting>

      <!-- BEGIN Multisite Config -->
      <setting name="Site_XCentiumCSDemo_Catalog" value="Adventure Works Catalog"/>
      <setting name="Site_XCentiumCSDemo_Wildcard" value="{9FB913A0-E51D-426B-9AC3-F99FD71BA08C}"/>
      <setting name="Site_XCentiumCSDemo_CategoryListing" value="{3C5BBD6A-528F-4807-BAF0-20F238F16C0A}"/>
      <setting name="Site_XCentiumCSDemo_CategoryParent" value="{4441D0B5-1080-4550-A91A-4C2C8245C986}"/>
    
    </settings>
    <pipelines>
      <initialize>
        <processor type="CSDemo.Initializer, CSDemo"  />
      </initialize>
      <httpRequestBegin>
        <processor
          patch:instead="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
          type="CSDemo.Configuration.ItemResolver, CSDemo">
        </processor>
      </httpRequestBegin>
      <commerce.customers.getUser>
        <processor type="Sitecore.Commerce.Pipelines.Customers.GetUser.GetUserFromSitecore, Sitecore.Commerce">
          <patch:attribute name="type">CSDemo.Models.Account.GetUser, CSDemo</patch:attribute>
        </processor>
      </commerce.customers.getUser>
    </pipelines>
    <sites>
      <site patch:before="*[@name='website']"
            name="XCentiumCSDemo"
            hostName="*csdemo*"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/CSDemo"
            startItem="/home"
            database="master"
            content="master"
            domain="extranet"
            allowDebug="true"
            cacheHtml="false"
            htmlCacheSize="10MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="5MB"
            filteredItemsCacheSize="2MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            loginPage="/account/signin"
            disableClientData="true" />

      <site patch:before="*[@name='website']"
           name="FamousSmoke"
           hostName="*fssdemo*"
           virtualFolder="/"
           physicalFolder="/"
           rootPath="/sitecore/content/FamousSmoke"
           startItem="/home"
           database="master"
           content="master"
           domain="extranet"
           allowDebug="true"
           cacheHtml="false"
           htmlCacheSize="10MB"
           registryCacheSize="0"
           viewStateCacheSize="0"
           xslCacheSize="5MB"
           filteredItemsCacheSize="2MB"
           enablePreview="true"
           enableWebEdit="true"
           enableDebugger="true"
           loginPage="/account/signin"
           disableClientData="true" />
    </sites>
    <!--
    <linkManager defaultProvider="commerce">
      <providers>
        <add name="commerce" >
          <patch:attribute name="addAspxExtension">false</patch:attribute>
          <patch:attribute name="alwaysIncludeServerUrl">false</patch:attribute>
          <patch:attribute name="shortenUrls">true</patch:attribute>
          <patch:attribute name="languageEmbedding">never</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
        </add>
      </providers>
    </linkManager>-->
    <encodeNameReplacements>
      <replace mode="on" find=" " replaceWith="-" />
    </encodeNameReplacements>
    <commerce.Entities>
      <CartLine type="Sitecore.Commerce.Connect.CommerceServer.Orders.Models.CommerceCartLine, Sitecore.Commerce.Connect.CommerceServer">
        <patch:attribute name="type">CSDemo.Models.Checkout.Cart.CustomCommerceCartLine, CSDemo</patch:attribute>
      </CartLine>
      <CommerceCustomer type="Sitecore.Commerce.Entities.Customers.CommerceCustomer, Sitecore.Commerce">
        <patch:attribute name="type">CSDemo.Models.UserObject, CSDemo</patch:attribute>
      </CommerceCustomer>
    </commerce.Entities>
  </sitecore>
</configuration>