<?xml version="1.0" encoding="utf-8"?>
<!--
    
Purpose: This include file configures the visitor's profile information that is requested when a visitor logs in to the website 
with their Facebook credentials.

Please read the Sitecore Social Connected documentation before changing the configuration.

You can enable or disable a field to extend or reduce the amount of visitor profile information that is received from Facebook.
    
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <social.matchUser>
        <processor type="CSDemo.Configuration.Social.CreateUser, CSDemo" patch:instead="processor[@type='Sitecore.Social.Connector.Pipelines.MatchUser.CreateUser, Sitecore.Social']" />
        <processor type="Sitecore.Social.Facebook.Connector.Pipelines.MatchUser.FindByFacebookIdsForBusiness, Sitecore.Social.Facebook" patch:before="processor[@type='CSDemo.Configuration.Social.CreateUser, CSDemo']" />
      </social.matchUser>
    </pipelines>
    <social>
      <!--  This section configures social profile synchronization. 
            To include a specific field from the social site in the user's profile, set the 'enabled' property to 'true'. 
            To remove a specific field on the social site from the user's profile, set the 'enabled' property to 'false. -->
      <profileKeyMappings>
        <!-- Configuration of profile synchronization with Facebook. -->
        <network name="Facebook">
          <!-- 'Interests' field. -->
          <!-- The interests listed on the user's profile. -->
          <field sitecoreKey="fb_interests">
            <patch:attribute name="enabled">false</patch:attribute>
          </field>
        </network>
      </profileKeyMappings>
    </social>
  </sitecore>
</configuration>