<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!--Create a patch file on your local to update this setting-->
    <sc.variable name="sourceFolder" value="C:\Repos\XcCommerceDemo\CSDemo" />
    <unicorn>
      <configurations>
        <configuration name="Local Content" description="Complete content of the CS Demo website." >
          <targetDataStore physicalRootPath="$(sourceFolder)\App_Data\serialization\local" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CSDemo.Content" database="master" path="/sitecore/content/CSDemo" />
            <include name="CSDemo.Templates" database="master" path="/sitecore/templates/CSDemo" />
            <include name="CSDemo.Renderings" database="master" path="/sitecore/layout/renderings/CSDemo" />
            <include name="CSDemo.Layouts" database="master" path="/sitecore/layout/layouts/CSDemo" />
            <include name="CSDemo.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/CSDemo" />
            <include name="CSDemo.MediaLibrary" database="master" path="/sitecore/media library/CSDemo" />
            <include name="CSDemo.MarketingGoals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/CSDemo" />
            <!--<include name="CSDemo.CustomLaunchPad" database="core" path="/sitecore/client/Applications/Launchpad" />-->
            <include name="CSDemo.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/CSDemo" />
            <include name="CSDemo.Profiles" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Score" />
            <include name="CSDemo.RuleConditions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CS Demo" />
            <include name="CSDemo.CustomCommerceProductTemplate" database="master" path="/sitecore/templates/Commerce/Catalog/Commerce Product" />
            <include name="CSDemo.WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Website" />
          </predicate>
        </configuration>
        <configuration name="Dev Server Content" description="The configuration includes all paths with content needed to run the website besides the content tree and media library." >
          <targetDataStore physicalRootPath="$(sourceFolder)\App_Data\serialization\server" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CSDemo.Templates" database="master" path="/sitecore/templates/CSDemo" />
            <include name="CSDemo.Renderings" database="master" path="/sitecore/layout/renderings/CSDemo" />
            <include name="CSDemo.Layouts" database="master" path="/sitecore/layout/layouts/CSDemo" />
            <include name="CSDemo.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/CSDemo" />
            <include name="CSDemo.MarketingGoals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/CSDemo" />
            <!--<include name="CSDemo.CustomLaunchPad" database="core" path="/sitecore/client/Applications/Launchpad" />-->
            <include name="CSDemo.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/CSDemo" />
            <include name="CSDemo.Profiles" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Score" />
            <include name="CSDemo.RuleConditions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/CS Demo" />
            <include name="CSDemo.CustomCommerceProductTemplate" database="master" path="/sitecore/templates/Commerce/Catalog/Commerce Product" />
            <include name="CSDemo.WFFM" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Website" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>