<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <patch:attribute name="defaultProvider">custom</patch:attribute>
      <providers>
        <clear />
        <add name="custom"
            type="CSDemo.Configuration.CustomLinkProvider, CSDemo"
            addAspxExtension="false"
            alwaysIncludeServerUrl="false"
            encodeNames="true"
            languageEmbedding="never"
            shortenUrls="true"
            useDisplayName="false"
            lowercaseUrls="true"
             />
      </providers>
    </linkManager>
  </sitecore>
</configuration>