<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="core" connectionString="Server=OLAOWOLAWO-XC;Trusted_Connection=Yes;Database=CSTestSitecore_Core" />
  <add name="master" connectionString="Server=OLAOWOLAWO-XC;Trusted_Connection=Yes;Database=CSTestSitecore_Master" />
  <add name="web" connectionString="Server=OLAOWOLAWO-XC;Trusted_Connection=Yes;Database=CSTestSitecore_Web" />
  <add name="analytics" connectionString="mongodb://localhost/CSTestanalytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/CSTesttracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/CSTesttracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/tracking_contact" />
  <add name="reporting" connectionString="Server=OLAOWOLAWO-XC;Trusted_Connection=Yes;Database=CSTestSitecore_Analytics" />
</connectionStrings>



<!--<connectionStrings>
  <add name="core" connectionString="Data Source=SOFTDEV-PC\SQL2012ENTFULL;Initial Catalog=XcCommerce113DemoSitecore_core;Integrated Security=False;User ID=commerceconnect113;Password=commerceconnect113" />
  <add name="master" connectionString="Data Source=SOFTDEV-PC\SQL2012ENTFULL;Initial Catalog=XcCommerce113DemoSitecore_master;Integrated Security=False;User ID=commerceconnect113;Password=commerceconnect113" />
  <add name="web" connectionString="Data Source=SOFTDEV-PC\SQL2012ENTFULL;Initial Catalog=XcCommerce113DemoSitecore_web;Integrated Security=False;User ID=commerceconnect113;Password=commerceconnect113" />
  <add name="analytics" connectionString="mongodb://localhost:27017/XcCommerce113Demo_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost:27017/XcCommerce113Demo_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost:27017/XcCommerce113Demo_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost:27017/XcCommerce113Demo_tracking_contact" />
  <add name="reporting" connectionString="Data Source=SOFTDEV-PC\SQL2012ENTFULL;Initial Catalog=XcCommerce113DemoSitecore_reporting;Integrated Security=False;User ID=commerceconnect113;Password=commerceconnect113" />
</connectionStrings>-->