@model CSDemo.Models.SelectedInmate.SelectedInmateViewModel

<div class="container">
    <p><strong>Shopping For:</strong> @Model.SelectedInmate.FullName (@Model.SelectedInmate.Tier - @Model.SelectedInmate.Block - @Model.SelectedInmate.Cell)</p>
    
</div>