<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="ExperienceProfileContactViews">
        <pipelines>
          <profile-info>
            <processor patch:instead="processor[@type='Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.FindBestPatternMatchAndApplyToProfileInfo, Sitecore.Cintel']" type="CSDemo.Configuration.FixFindBestPatternMatchAndApplyToProfileInfo, CSDemo" />
          </profile-info>
          <best-pattern-matches>
            <processor patch:instead="processor[@type='Sitecore.Cintel.Reporting.Contact.ProfileInfo.Processors.FindBestPatternMatchAndApplyToProfileInfo, Sitecore.Cintel']" type="CSDemo.Configuration.FixFindBestPatternMatchAndApplyToProfileInfo, CSDemo" />
          </best-pattern-matches>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>