
.category {
}

    .category img {
        margin: 0 auto;
        max-height: 565.375px;
    }

/*Cart Fly-out heading*/
header.navbar li.navbar-cart .dropdown-menu h4 {
    max-width: calc(100% - 20px);
}

/* Form Customizations */
.form-control {
    transition: background-color .5s, border-color .5s;
}

.form-control.error {
    background-color: rgba(200, 0, 0, .1);
    border-color: rgba(200, 0, 0, .5);
}

form label.error {
    color: rgba(200, 0, 0, 1);
}