
.category {
}

    .category img {
        margin: 0 auto;
        max-height: 565.375px;
    }

/*Cart Fly-out heading*/
header.navbar li.navbar-cart .dropdown-menu h4 {
    max-width: calc(100% - 20px);
}

/* Form Customizations */
.form-control {
    transition: background-color .5s, border-color .5s;
}

.form-control.error {
    background-color: rgba(200, 0, 0, .1);
    border-color: rgba(200, 0, 0, .5);
}

form label.error {
    color: rgba(200, 0, 0, 1);
}

/* Testimonial Robot Styling */
.trobot_form form {
    padding: 20px;
}
    .trobot_form form > div {
        overflow: hidden;
    }

    .trobot_form #Cemail,
    .trobot_form #Cname,
    .trobot_form #Cmobile,
    .trobot_form #rating {
        border-radius:0;
	    height:36px;
	    box-shadow:none;
	    border:2px solid #D0D0D0;
	    color:#999999;
	    font-weight:bold;
        padding: 6px 12px;
	    transition:color 0.2s ease-in, border-color 0.2s ease-in;
    }
    
    /* Email */
    .trobot_form #Cemail {
        float: left;
        margin: 0;
        width: 49%;
    }

    /* Name */
    .trobot_form #Cname {
        float: right;
        margin: 0;
        width: 49%;
    }

    /* Comments */
    .trobot_form #Cmobile {
        margin: 20px 0;
        min-height: 130px;
        width: 100%;
    }

    /* Star Rating */
    .trobot_form #rating {
        
	    background-image:url(../images/angle-down.png);
	    background-repeat:no-repeat;
	    clear: left;
        color:#CCCCCC;
        display: block;
        -webkit-appearance:none;
	    -moz-appearance:none;
	    background-position:right center;
	    background-size:contain;
        float: left;
        margin-right: 2%;
	    padding-right:25px;
        width: 49%;
    }
        .trobot_form #rating:hover {
            border-color: #B0B0B0;
            color: #AAAAAA;
        }

    /* Submit Button */
    .trobot_form #Submit {
        background-color: #E87169;
        background-image: none;
        border: 2px solid rgba(0,0,0,0.1);
        border-radius:0;
        color: #fff;
        cursor: pointer;
        display: block;
        float: left;
        font-size:16px;
	    font-weight:600;
        height: 36px;
        line-height: 1;
        margin-bottom: 0;
        padding:8px 14px;
        text-align: center;
        text-transform:uppercase;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        transition: all .2s ease-in;
        vertical-align: middle;
        white-space: nowrap;
    }
        .trobot_form #Submit:active {
            background-color: #555555;
            border: 2px solid rgba(0, 0, 0, 0.1);
            box-shadow: none;
        }
        .trobot_form #Submit:focus,
        .trobot_form #Submit:hover {
            background-color: #888888;
            border: 2px solid rgba(0, 0, 0, 0.1);
        }

.trobot_form #tr_thks {
    /*display: none;*/
}