
.category {
}

    .category img {
        margin: 0 auto;
        max-height: 565.375px;
    }

/*Cart Fly-out heading*/
header.navbar li.navbar-cart .dropdown-menu h4 {
    max-width: calc(100% - 20px);
}

/* Categories Component */
.categories.content {
    background-color: #fff;
}

/* Form Customizations */
.form-control {
    transition: background-color .5s, border-color .5s;
}

.form-control.error {
    background-color: rgba(200, 0, 0, .1);
    border-color: rgba(200, 0, 0, .5);
}

form label.error {
    color: rgba(200, 0, 0, 1);
}

/* Intense Debate : Custom Styles*/
.comments-reviews {
}

.comments-reviews #idc-container {
    max-width: 100%;
}
    .comments-reviews #idc-container div {
        font-size: 14px;
        line-height: 20px;
    }

    .comments-reviews #idc-container .idc-tb,
    .comments-reviews #idc-container .idc-c {
        margin-bottom: 40px;
    }
    
    .comments-reviews #idc-container .idc-c .idc-c-h {
        background: none; /*#F0F0F0*/
    }

    .comments-reviews #idc-container .idc-postnav-list .idc-first {
        display: none;
    }

.comments-reviews #idc-container .idc-text,
.comments-reviews #idc-container div.idc-text_noresize,
.comments-reviews #idc-container textarea.idc-text_noresize {
    background-color: #fff;
    background-image: none;
    border:2px solid #D0D0D0;
    border-radius:0;
	box-shadow:none;
	color:#999999;
    font-size: 14px;
	font-weight:bold;
	height:36px;
    line-height: 1.42857143;
    padding: 6px 12px;
    transition:color 0.2s ease-in, border-color 0.2s ease-in;
}

.comments-reviews #idc-container div.idc-text_noresize,
.comments-reviews #idc-container textarea.idc-text_noresize {
    background: none;
    font-weight: normal;
    min-height: 160px;
}

    .comments-reviews #idc-container .idc-c-m .idc-column-wide, 
    .comments-reviews #idc-container .idc-c-m .idc-column {
        width: 50%;
    }

    .comments-reviews #idc-container .idc-btn_l,
    .comments-reviews #idc-container .idc-btn_s {
        background-image: none;
        background-color: #666666;
        border: 2px solid #555555;
        border-radius: 0;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 0;
        padding: 5px 10px!important;
        text-align: center;
        text-transform: uppercase;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    .comments-reviews #idc-container .idc-btn_l:hover,
    .comments-reviews #idc-container .idc-btn_s:hover {
        color: #DDDDDD;
    }

        .comments-reviews #idc-container .idc-btn_l span,
        .comments-reviews #idc-container .idc-btn_s span {
            background: none;
            height: auto;
        }
            .comments-reviews #idc-container .idc-btn_l span:first-child,
            .comments-reviews #idc-container .idc-btn_s span:first-child {
                display: none;
            }

        .comments-reviews #idc-container .idc-btn_l .idc-r,
        .comments-reviews #idc-container .idc-btn_s .idc-r {
            padding: 0;
            font-size: inherit!important;
            line-height: inherit;
            color: inherit;
            float: none!important;
            overflow: visible;
        }
            .comments-reviews #idc-container .idc-btn_l:hover .idc-r,
            .comments-reviews #idc-container .idc-btn_s:hover .idc-r {
                color: inherit;
            }


    .comments-reviews #idc-container .idc-c .idc-c-h-inner {
        height: auto;
    }

    .comments-reviews #idc-container .idc-c .idc-i span {
        color: #777777;
        font-size: 20px;
        font-weight: bold;
    }

    .comments-reviews #idc-container .idc-c .idc-time a,
    .comments-reviews #idc-container .idc-c .idc-time {
        color: #BCC7D1;
        font-size: 14px;
    }


/* Header Search Dropdown */
header.navbar li.navbar-search .dropdown-menu {
    border: 1px solid #e7e7e7;
    border-top: none;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.15);
}


/* Sticky Footer*/
html, body, #page-wrapper{}

body {}

#page-wrapper {
    height: auto !important;
    min-height: 100%;
    position: relative;
    /*margin-bottom: -387px;*/
    padding-bottom: 387px;
}

@media(max-width: 991px) {
    #page-wrapper {
        padding-bottom: 395px;
    }
}

@media(max-width: 767px) {
    #page-wrapper {
        padding-bottom: 760px;
    }
}

@media(max-width: 568px) {
    #page-wrapper {
        padding-bottom: 1087px;
    }
}

footer.navbar {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}