@model CSDemo.Contracts.GeneralSearch.ISearchInput

    @using (Html.BeginForm("SearchInput", "GeneralSearch", FormMethod.Post, new {@id = "global-search-input"}))
    {
        <div id="search-box" class="input-group input-group-lg">
            @Html.HiddenFor(t => Model.RedirectUrl)
            @Html.TextBoxFor(t => Model.Query, new { @class = "form-control", @placeholder = "Search...", @id = "searchInputBox", @autocomplete = "off" })
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>
        </div>
    
        <div style="margin-left: 10px" id="typeaheadCategoryResult"></div>
        <div style="margin-left: 10px" id="typeaheadProductsResult"></div>
    }

<script>
window.jQuery ||
    document.write("<script src='http://code.jquery.com/jquery-1.11.0.min.js'>\x3C/script>")
</script>

<script type="text/javascript">
    
    $(document).ready(function () {

        $("#searchInputBox").keyup(function () {
            console.log($(this).val());

            var queryVal = $(this).val();
            //var inputMinLength = 1;
            var data = "query:'" + queryVal + "'";

            $("#typeaheadCategoryResult").html("");
            $("#typeaheadProductsResult").html("");

            if (queryVal.length > 1) {

                $("#typeaheadCategoryResult").html("");

                $.ajax({
                    type: "POST",
                    url: "/AJAX/cart.asmx/GetCategoriesResult ",
                    data: "{" + data + "}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                    
                        var output = result.d;

                        // console.log(output);

                        var products = output.products;

                        $("#typeaheadCategoryResult").html("");

                        if (products && products.length > 0) {

                            console.log(products);

                            var tableHtml = "";

                            var rcnt = 0;
                            var catImages = [];

                            $.each(products, function (i, el) {

                                // preload image
                                catImages[rcnt] = new Image();
                                catImages[rcnt].src = el.ImageSrc + "?as=1&h=56&w=40";

                                tableHtml += "<tr>" +
                                    "<td>" +
                                    "<a href='/categories/" + el.Title + "'>" + el.Title + "</a>" +
                                    "</td>" +
                                    "<td>" +
                                    "<img src='" + el.ImageSrc + "?as=1&h=56&w=40' />" +

                                    "</td>" +
                                    "</tr>";
                                rcnt++;
                            });

                            $("#typeaheadCategoryResult").html("");

                            if (rcnt>0){
                                tableHtml = "<h5>Categories:</h5><table class='table table-bordered table-hover'>" + tableHtml + "</table>";

                                $("#typeaheadCategoryResult").append(tableHtml);

                            }

                            

                        }

                        GetProductsTypeahead(queryVal);

                    },
                    error: function (error) {

                        console.log(error);

                    }

                });

            }

        });

    });

    function GetProductsTypeahead(queryVal) {
        
        var data = "query:'" + queryVal + "'";

        $("#typeaheadProductsResult").html("");

        if (queryVal.length > 1) {

            $.ajax({
                type: "POST",
                url: "/AJAX/cart.asmx/GetProductsResult",
                data: "{" + data + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    var output = result.d;

                    // console.log(output);

                    var products = output.products;
                    $("#typeaheadProductsResult").html("");
                    if (products && products.length > 0) {

                        console.log(products);

                        //alert("Building product table"); CategoryName

                        var tableHtml = "";
                        var cnt = 1000;
                        var prodImages = [];

                        $.each(products, function (i, el) {
                            var param = escape(el.Id + "|||" + el.CategoryName + "|||" + el.CatalogId + "|||" + el.Guid + "|||" + el.ImageSrc + "|||" + el.Price + "|||" + el.Title + "|||" + el.CatalogName);
                            // preload image
                            prodImages[cnt] = new Image();
                            prodImages[cnt].src = el.ImageSrc + "?as=1&h=56&w=40";

                            tableHtml += "<tr>" +
                                "<td>" +
                                "<a href='/categories/" + el.CategoryName + "/" + el.Id + "'>" + el.Title + "</a>" +
                                "</td>" +
                                "<td>" +
                                "<img src='" + el.ImageSrc + "?as=1&h=56&w=40' />" +
                                "</td>" + 
                                "<td>$" +
                                el.Price +
                                "</td>" +
                                //"<td>" +
                                //param +
                                //"</td>" +
                                "</tr>";

                                cnt++;
                        });

                        $("#typeaheadProductsResult").html("");

                        tableHtml = "<h5>Products:</h5><table class='table table-bordered table-hover'>" + tableHtml + "</table>";

                        $("#typeaheadProductsResult").append(tableHtml);

                    }



                },
                error: function (error) {

                    console.log(error);

                }

            });

        }
    }
</script>

<div id="imagePreloader">
    
</div>