@model CSDemo.Contracts.GeneralSearch.ISearch
<section class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Search Term:</h2>
                <p>@Model.Query</p>
            </div>
        </div>
    </div>
</section>
<section class="content products">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row grid" id="products">
                    @foreach (var result in Model.Results)
                    {
                        @Html.Partial("_SearchResult", result)
                    }
                </div>
            </div>
        </div>
    </div>
</section>