@model CSDemo.Contracts.GeneralSearch.ISearch
<section class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Model.TotalItemCount @(Model.TotalItemCount==1?"result":"results" ) for <p>"@Model.Query"</p> 
            </div>
        </div>
    </div>
</section>
<section class="content products">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @if (Model == null || !Model.Results.Any())
                {
                    <p>No products matched your search criteria. Please change your search query and try again.</p>
                }
                else
                {
                    <div class="row grid" id="products">
                        @foreach (var result in Model.Results)
                        {
                            @Html.Partial("_SearchResult", result)
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>