@model CSDemo.Contracts.ISearchInput

    @using (Html.BeginForm("SearchInput", "GeneralSearch", FormMethod.Post, new {@id = "global-search-input"}))
    {
        <div class="input-group input-group-lg">
            @Html.TextBoxFor(t => Model.Query, new {@class = "form-control", @placeholder = "Search..."})
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
            </span>
        </div>
    }