@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<CSDemo.Models.Page.Article>
@if (Model == null)
{
    return;
}
<section class="content">
    <div class="container">
        @using (BeginEditFrame(Model.Path))
        { 
            
            if (!string.IsNullOrWhiteSpace(Model.Title))
            {
                <h1>@Editable(Model, x => x.Title)</h1>
            }
            if (!string.IsNullOrWhiteSpace(Model.Content))
            {
                @Editable(Model, x => x.Content)
            }
        }
    </div>
</section>