@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<CSDemo.Models.Page.Article>
@if (Model == null)
{
    return;
}
<section class="content">
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <h1>@Model.Title</h1>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Content))
        {
            @Html.Raw(Model.Content)
        }
    </div>
</section>