@using Sitecore.Mvc

<div class="top-header hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <ul class="list-inline contacts">
                    <li><i class="fa fa-envelope"></i> help@xcentium.com</li>
                    <li><i class="fa fa-phone"></i> 555 555 5555</li>
                </ul>
            </div>
            <div class="col-sm-7 text-right">
                <ul class="list-inline links">

                    @if (Sitecore.Context.User.IsAuthenticated)
                    {
                        <li>Welcome @Sitecore.Context.User.LocalName <a href="#">My account</a></li>
                        <li><a href="/account/signoff">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/account/signin">Login</a></li>
                    }
                </ul>
                <ul class="list-inline languages hidden-sm">
                    <li><a href="#"><img src="/assets/images/flags/cz.png" alt="cs_CZ"></a></li>
                    <li><a href="#"><img src="/assets/images/flags/us.png" alt="en_US"></a></li>
                    <li><a href="#"><img src="/assets/images/flags/de.png" alt="de_DE"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><span>XC</span>Demo</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="/">Home</a>
                </li>
                <li class="dropdown megamenu">
                    <a href="/categories" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">Eshop</a>
                    <ul class="dropdown-menu">
                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li class="title">Climbing</li>

                                <li><a href="/categories/carabiners">Carabiners</a></li>
                                <li><a href="/categories/crampons">Crampons</a></li>
                                <li><a href="/categories/harnesses">Harnesses</a></li>
                                <li><a href="/categories/rockshoes">Rockshoes</a></li>
                            </ul>
                        </li>

                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li class="title">Clothing</li>
                                <li><a href="/categories/boots">Boots</a></li>
                                <li><a href="/categories/pants">Pants</a></li>
                                <li><a href="/categories/parkas">Parkas</a></li>
                                <li><a href="/categories/shirts">Shirts</a></li>
                            </ul>
                        </li>

                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li class="title">Accessories</li>
                                <li><a href="/categories/backpacks">Backpacks</a></li>
                                <li><a href="/categories/sleepingBags">Sleeping Bags</a></li>
                                <li><a href="/categories/supplies">Supplies</a></li>
                                <li><a href="/categories/tents">Tents</a></li>
                            </ul>
                        </li>

                        <li class="hidden-xs hidden-sm col-md-3">
                            <img src="http://lorempixel.com/300/200/animals/" class="img-responsive center-block" alt="">
                        </li>
                    </ul>
                </li>

                <li class="dropdown navbar-cart hidden-xs">
                    <a href="~/cart" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true"><i class="fa fa-shopping-cart"><span id="cartTotal"></span></i></a>
                    <ul id="cart-items-list" class="dropdown-menu">
                        <!-- CART ITEM - START -->
                        <!-- CART ITEM - END -->
                    </ul>
                </li>
                <li class="dropdown navbar-search hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.Sitecore().Rendering("/sitecore/layout/Renderings/CSDemo/Search/Search Input", new { Datasource = "/sitecore/content/CSDemo/Home/Search" })
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

