@using Sitecore.Mvc

<div class="top-header hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <ul class="list-inline contacts">
                    <li><i class="fa fa-envelope"></i> help@xcentium.com</li>
                    <li><i class="fa fa-phone"></i> 555 555 5555</li>
                </ul>
            </div>
            <div class="col-sm-7 text-right">
                <ul class="list-inline links">

                    @if (Sitecore.Context.User.IsAuthenticated)
                    {
                        <li>Welcome @Sitecore.Context.User.LocalName <a href="#">My account</a></li>
                        <li><a href="/account/signoff">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="/account/signin">Login</a></li>
                    }
                </ul>
                <ul class="list-inline languages hidden-sm">
                    <li><a href="#"><img src="/assets/images/flags/cz.png" alt="cs_CZ"></a></li>
                    <li><a href="#"><img src="/assets/images/flags/us.png" alt="en_US"></a></li>
                    <li><a href="#"><img src="/assets/images/flags/de.png" alt="de_DE"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><span>XC</span>Demo</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="/">Home</a>
                </li>
                <li class="dropdown megamenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">Eshop</a>
                    <ul class="dropdown-menu">
                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li class="title">Climbing</li>

                                <li><a href="/product-listing?id={DBC814A9-05D2-4944-8E61-F8FB14150E00}">Carabiners</a></li>
                                <li><a href="/product-listing?id={B59E1DED-ED1C-4BD2-B031-7845092CBA9E}">Crampons</a></li>
                                <li><a href="/product-listing?id={D3D058E0-54C1-430D-A25C-5707786183AB}">Harnesses</a></li>
                                <li><a href="/product-listing?id={F6B8AAED-A34D-48E8-9FBE-A984E4BD13EF}">Rockshoes</a></li>
                            </ul>
                        </li>

                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li class="title">Clothing</li>
                                <li><a href="/product-listing?id={833102C4-765F-4FA5-8DBD-A7F785D41659}">Boots</a></li>
                                <li><a href="/product-listing?id={D9CCD9B1-2F5A-4895-AED9-864536161BD4}">Pants</a></li>
                                <li><a href="/product-listing?id={623C9762-EFFD-4151-88E8-2B1E1BBD0D3F}">Parkas</a></li>
                                <li><a href="/product-listing?id={85395B9B-1520-45B0-8E07-977EE3E661A4}">Shirts</a></li>
                            </ul>
                        </li>

                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li class="title">Accessories</li>
                                <li><a href="/product-listing?id={DDCDDA42-35D9-4C80-B1C0-49B3E5C3EE0B}">Backpacks</a></li>
                                <li><a href="/product-listing?id={8DF6789E-C042-4A28-B98A-021C70FA05EF}">Sleeping Bags</a></li>
                                <li><a href="/product-listing?id={560ECC9F-77C4-4247-97C4-4D4FB5EBF136}">Supplies</a></li>
                                <li><a href="/product-listing?id={23567FBF-72AD-4F46-99BE-56E55FDB1813}">Tents</a></li>
                            </ul>
                        </li>

                        <li class="hidden-xs hidden-sm col-md-3">
                            <img src="http://lorempixel.com/300/200/animals/" class="img-responsive center-block" alt="">
                        </li>
                    </ul>
                </li>

                <li class="dropdown navbar-cart hidden-xs">
                    <a href="~/cart" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true"><i class="fa fa-shopping-cart"><span id="cartTotal"></span></i></a>
                    <ul id="cart-items-list" class="dropdown-menu">
                        <!-- CART ITEM - START -->
                        <li>
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="~/assets/images/products/product-1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="col-sm-9">
                                    <h4><a href="single-product.html">Fusce Aliquam</a></h4>
                                    <p>1x - $20.00</p>
                                    <a href="#" class="remove"><i class="fa fa-times-circle"></i></a>
                                </div>
                            </div>
                        </li>
                        <!-- CART ITEM - END -->
                    </ul>
                </li>
                <li class="dropdown navbar-search hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.Sitecore().Rendering("/sitecore/layout/Renderings/CSDemo/Search/Search Input", new { Datasource = "/sitecore/content/CSDemo/Home/Search" })
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- ==========================
    JUMBOTRON - START
=========================== -->
@Html.Sitecore().Rendering("/sitecore/layout/Renderings/CSDemo/Marquee/Carousel", new { Datasource = "/sitecore/content/CSDemo/Components/Carousel" })
<!-- ==========================
    JUMBOTRON - END
=========================== -->
